# Installing and opening packages

In [ ]:
#install.packages("tidyverse")

#install.packages("ggplot2")
library(ggplot2)
library(tidyverse)

# Navigating and setting working directory

In [ ]:
getwd()
setwd("/Users/madeo/OneDrive/Cloud/Learn programming/R/")

# Opening files

In [ ]:
df <- read.csv("df.csv")

# Creating a new dataframe based on an existing dataframe
#### In this file there is a column that registers dates. If we check the nature of the variable with class() we will see that. A new column is created based on the previous date format and stored in a variable

In [ ]:
class(df$Date)

In [ ]:
date_col <- as.Date(df$Date, "%d/%m/%Y")

#### Then we remove the data from the old column and we append the new data

In [ ]:
df$Date <- NULL
df$Date <- date_col
df$Date

#### Let's create two more columns for month and year base on the date to manipulate in a data better way. To do so we will use the function mutate. The mutate() function adds new variables and preserves existing ones; transmute() adds new variables and drops existing ones. New variables overwrite existing variables of the same name. Variables can be removed by setting their value to NULL. Here we will use the mutate function will create a new variable based on a vector of values. 

#### Furthermore we will use the pipe operater %>%. The pipe operator is a special operational function available under the magrittr and dplyr package (basically developed under magrittr), which allows us to pass the result of one function/argument to the other one in sequence. It is generally denoted by symbol %>% in R Programming. Usage of this operator increases, readability, efficiency, and simplicity of your code when you have nested functions in your code loop.

In [ ]:
df<-df %>%  mutate(month=format(Date,"%B"), year=format(Date,"%Y"))

#### Our objective now is to calculate FOR EACH MONTH the total amount earned and spent. To do so we will use the function summarise to do the calculations and store them in a new dataframe that will be grouped by months using the function group_by.

#### summarise() creates a new data frame. It will have one (or more) rows for each combination of grouping variables; if there are no grouping variables, the output will have a single row summarising all observations in the input. It will contain one column for each grouping variable and one column for each of the summary statistics that you have specified. 

#### Most data operations are done on groups defined by variables. group_by() takes an existing tbl and converts it into a grouped tbl where operations are performed "by group". ungroup() removes grouping.

In [ ]:
#2020
Total_in_out_2020 <- df %>%  group_by(month) %>% summarise(total_out=sum(Amount[InOut=="Out" & year=="2020"]),
                                                            total_in=sum(Amount[InOut=="In" & year=="2020"]))

#2021
Total_in_out_2021 <- df %>%  group_by(month) %>% summarise(total_out=sum(Amount[InOut=="Out" & year=="2021"]),
                                                           total_in=sum(Amount[InOut=="In" & year=="2021"]))

#### The months in this new data frame are not in order by month

In [ ]:
Total_in_out_2020

#### To order them we will use the function slice() to index the rows by their location and the match funtion to reorder them base on a vector given:

In [ ]:
month_order<-c("enero","febrero","marzo","abril","mayo","junio","julio","agosto","sepriembre","octubre",
               "noviembre","diciembre")

Total_in_out_2020 <- Total_in_out_2020 %>% slice(match(month_order,month))

Total_in_out_2021 <- Total_in_out_2021 %>% slice(match(month_order,month))

#### Now we will create an additional column named as savings in which we substract what we have spent to of what we have earnt

In [ ]:
Total_in_out_2020 <- Total_in_out_2020 %>%  mutate(savings=total_in-total_out)
Total_in_out_2021 <- Total_in_out_2021 %>%  mutate(savings=total_in-total_out)

#### We check it now

In [ ]:
sum(Total_in_out_2020$savings)

sum(Total_in_out_2021$savings)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:6: unexpected symbol
1: !pip install
         ^